DATABASE_URL="file:./prisma/dev.db"

NEXTAUTH_URL="https://your-domain.ru"
NEXTAUTH_SECRET="your-secret-key-min-32-chars"

YOOKASSA_SHOP_ID=""
YOOKASSA_SECRET_KEY=""

SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="noreply@restart-program.ru"

NEXT_PUBLIC_SITE_URL="https://your-domain.ru"
NEXT_PUBLIC_SITE_NAME="Restart"
